<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.way.tunnelvision">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".base.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.TestActivity" />
        <activity
            android:name=".ui.activity.ChannelLibraryActivity"
            android:label="@string/title_activity_feeds_library" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".ui.activity.AdDisplayActivity" />

        <!-- YouMi广告视频组件 -->
        <activity
            android:name="kll.dod.rtk.video.VideoActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- YouMi广告其他组件 -->
        <activity
            android:name="kll.dod.rtk.OO"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- YouMi广告服务 -->
        <service
            android:name="kll.dod.rtk.BB"
            android:exported="false" />
        <!-- YouMi广告接收组件 -->
        <receiver android:name="kll.dod.rtk.GG">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_INSTALL" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ui.activity.NewsDetailActivity"
            android:label="@string/title_activity_news_detail"></activity>
    </application>

</manifest>
